---
layout: page
---
<div class="page-container">
    <div class="sidebar-left">
        <div class="sidebar-left-inner">
            <aside class="sidebar">
                <ul>
                    <li>Getting started</li>
                    <li>
                        <ul>
                            <li class="selected"><a href="#">Install ceramic</a></li>
                            <li><a href="#">Your first project</a></li>
                        </ul>
                    </li>
                    <li>Key concepts</li>
                    <li>
                        <ul>
                            <li><a href="#">Ceramic Visuals</a></li>
                            <li><a href="#">Entities and Components</a></li>
                            <li><a href="#">Scene management</a></li>
                            <li><a href="#">Asset loading</a></li>
                        </ul>
                    </li>
                    <li>Key concepts</li>
                    <li>
                        <ul>
                            <li><a href="#">Ceramic Visuals</a></li>
                            <li><a href="#">Entities and Components</a></li>
                            <li><a href="#">Scene management</a></li>
                            <li><a href="#">Asset loading</a></li>
                        </ul>
                    </li>
                    <li>Key concepts</li>
                    <li>
                        <ul>
                            <li><a href="#">Ceramic Visuals</a></li>
                            <li><a href="#">Entities and Components</a></li>
                            <li><a href="#">Scene management</a></li>
                            <li><a href="#">Asset loading</a></li>
                        </ul>
                    </li>
                    <li>Key concepts</li>
                    <li>
                        <ul>
                            <li><a href="#">Ceramic Visuals</a></li>
                            <li><a href="#">Entities and Components</a></li>
                            <li><a href="#">Scene management</a></li>
                            <li><a href="#">Asset loading</a></li>
                        </ul>
                    </li>
                    <li>Key concepts</li>
                    <li>
                        <ul>
                            <li><a href="#">Ceramic Visuals</a></li>
                            <li><a href="#">Entities and Components</a></li>
                            <li><a href="#">Scene management</a></li>
                            <li><a href="#">Asset loading</a></li>
                        </ul>
                    </li>
                    <li>Key concepts</li>
                    <li>
                        <ul>
                            <li><a href="#">Ceramic Visuals</a></li>
                            <li><a href="#">Entities and Components</a></li>
                            <li><a href="#">Scene management</a></li>
                            <li><a href="#">Asset loading</a></li>
                        </ul>
                    </li>
                    <li>Key concepts</li>
                    <li>
                        <ul>
                            <li><a href="#">Ceramic Visuals</a></li>
                            <li><a href="#">Entities and Components</a></li>
                            <li><a href="#">Scene management</a></li>
                            <li><a href="#">Asset loading</a></li>
                        </ul>
                    </li>
                    <li>Key concepts</li>
                    <li>
                        <ul>
                            <li><a href="#">Ceramic Visuals</a></li>
                            <li><a href="#">Entities and Components</a></li>
                            <li><a href="#">Scene management</a></li>
                            <li><a href="#">Asset loading</a></li>
                        </ul>
                    </li>
                    <li>Key concepts</li>
                    <li>
                        <ul>
                            <li><a href="#">Ceramic Visuals</a></li>
                            <li><a href="#">Entities and Components</a></li>
                            <li><a href="#">Scene management</a></li>
                            <li><a href="#">Asset loading</a></li>
                        </ul>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
    <div class="content-right">
        <div class="content-right-inner">
            <main>
                <%- content %>
            </main>
        </div>
    </div>
</div>