
@import url(/static/normalize.css);

html, body {
    width: 100%;
    height: 100%;
}

html body > * {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

html body a {
    color: black;
}

#site-navigation {
    background-color: #111;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid black;
    height: 48px;
}

#site-navigation ul {
    position: relative;
    left: 0px;
    top: 5px;
    list-style: none;
    padding: 10px;
    margin: 0;
    display: block;
    text-align: center;
}

#site-navigation ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

#site-navigation ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: #ddd;
    font-weight: normal;
}

#site-navigation ul li.selected a {
    font-weight: bold;
    color: white;
}

#site-navigation ul li a .ceramic-icon {
    max-height: 16px;
    position: relative;
    left: -4px;
    top: 2px;
}

#site-navigation ul li a img.ceramic-icon {
    max-height: 16px;
    position: relative;
    left: -8px;
    top: 2px;
}

#site-navigation ul li.selected a:hover {
    text-decoration: none;
}

#site-navigation ul li a:hover {
    text-decoration: underline;
    color: white;
}
#site-navigation ul li a:hover img.ceramic-icon {
    text-decoration: none;
}

.page {
    margin: 0;
    padding: 0;
}

#page-home #ceramic-header {
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 80px 0 40px 0;
}

#page-home #ceramic-header .subtitle {
    font-weight: bold;
}

#page-home #ceramic-header iframe {
    max-width: 100%;
}

#page-home h1, #page-home h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#page-home #ceramic-header > * {
    color: white;
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#page-home #ceramic-header > p, #page-home > main > section > p {
    max-width: 680px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#page-home > main > section {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

#page-home > main > section#cross-platform-haxe {
    padding-bottom: 0;
}

#page-home > main > section#cross-platform-haxe #diagram-ceramic {
    background-color: #161616;
    margin-top: 40px;
    padding: 40px 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#page-home > main > section#cross-platform-haxe #diagram-ceramic img {
    max-width: 960px;
}

#page-home > main > section#get-started {
    padding: 0;
    border-top: 1px solid #202020;
}

#page-home > main > section#get-started a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    background-color: #111;
    color: white;
    line-height: 60px;
}

#page-home > main > section#get-started a .arrow {
    position: relative;
    left: 3px;
    top: -1px;
}

#page-home > main > section#get-started a:hover {
    color: white;
    background-color: black;
}

.page-standard .page-container {
    height: auto;
    min-height: 100%;
    background-color: #292929;
}

.page-standard .page-container .sidebar-left {
    width: calc(50% - 678px / 2);
    height: auto;
    margin-top: 48px;
}

.page-standard .page-container .sidebar-left .sidebar {
    margin-top: 24px;
    margin-bottom: 6px;
    margin-left: auto;
    padding-right: 30px;
    position: fixed;
    right: calc(50% + 678px / 2);
    top: 48px;
}

.page-standard .page-container .sidebar-left .sidebar > ul {
    list-style: none;
    text-align: right;
    padding: 0;
    color: white;
}

.page-standard .page-container .sidebar-left .sidebar > ul > li {
    font-weight: bold;
    padding-bottom: 6px;
    color: #999;
    font-size: 17px;
}

.page-standard .page-container .sidebar-left .sidebar > ul > li > ul {
    list-style: none;
    text-align: right;
    padding: 0 0 12px 0;
    font-weight: normal;
    font-size: 16px;
}

.page-standard .page-container .sidebar-left .sidebar > ul > li > ul > li {
    line-height: 25px;
}

.page-standard .page-container .sidebar-left .sidebar > ul > li > ul > li > a {
    color: #eee;
    text-decoration: none;
}

.page-standard .page-container .sidebar-left .sidebar > ul > li > ul > li.selected > a {
    font-weight: bold;
}

.page-standard .page-container .sidebar-left .sidebar > ul > li > ul > li.selected > a:hover {
    text-decoration: none;
}

.page-standard .page-container .sidebar-left .sidebar > ul > li > ul > li > a:hover {
    text-decoration: underline;
}

.page-standard .page-container .content-right {
    width: calc(50% + 678px / 2);
    height: auto;
    color: white;
    margin-left: -1px;
    margin-top: 48px;
}

.page-standard .page-container .content-right main {
    width: 610px;
    border: 1px solid #303030;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 16px;
    line-height: 25px;
    font-size: 16px;
    color: #eee;
    background-color: #1F1F1F;
}

.page-standard .page-container .content-right * {
    max-width: 610px;
}

.page-standard .page-container .content-right main > p > img {
    width: 100%;
}

.page-standard .page-container .content-right main a {
    color: #60AFEF;
    font-weight: bold;
    text-decoration: none;
}

.page-standard .page-container .content-right main hr {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #333;
    margin-top: 30px;
    margin-bottom: 26px;
}

.page-standard .page-container .content-right main .caption {
    font-size: 13px;
    margin-top: -24px;
    padding: 0;
}

.page-standard .page-container .content-right main .regular {
    font-weight: normal;
}

.page-standard .page-container .content-right main .codename {
    color: #ff9900;
    background-color: #383C43;
    margin-bottom: -8px;
    font-weight: bold;
    font-size: 15px;
    padding: 1px 16px 2px 16px;
}

.page-standard .page-container .content-right main :not(pre.language-haxe) code {
    color: #60AFEF;
    font-weight: normal;
}

.page-standard .page-container .content-right main .code-purple {
    color: #9b51e0 !important;
}

.page-standard .page-container .content-right main .code-red {
    color: #cf2e2e !important;
}

.page-standard .page-container .content-right main .code-yellow {
    color: #fcb900 !important;
}

.page-standard .page-container .content-right main .code-blue {
    color: #8ed1fc !important;
}

.page-standard .page-container .content-right main .code-green {
    color: #00d084 !important;
}

.page-standard .page-container .content-right main table,
.page-standard .page-container .content-right main table td {
    border: 1px solid #444;
    border-collapse: collapse;
    padding: 6px 8px;
}

.page-standard .page-container .content-right main a:hover {
    text-decoration: underline;
}

.page-standard .page-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

@media (min-width: 940px) and (max-width: 1370px) {

    .page-standard .page-container .sidebar-left {
        width: calc(25%);
    }

    .page-standard .page-container .sidebar-left .sidebar {
        right: calc(75%);
    }

    .page-standard .page-container .content-right {
        width: calc(75%);
    }

}

@media (max-width: 940px) {

    body.page-standard {
        min-width: 940px;
    }

    .page-standard .page-container .sidebar-left {
        width: calc(25%);
    }

    .page-standard .page-container .sidebar-left .sidebar {
        width: 100%;
        right: calc(100% - 236px);
    }

    .page-standard .page-container .content-right {
        width: calc(75%);
    }

}